
@{
    ViewData["Title"] = "ForUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeliveryStrela</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        header {
            background-color: chocolate;
        }

        .navbar-brand {
            color: aliceblue;
        }

        .nav-link {
            color: antiquewhite;
        }

        img {
            float: left;
            width: 50%;
            margin: 2%;
        }

        p {
            padding-top: 10%;
            font: 40;
        }
    </style>

</head>
<h1>За нас</h1>
<div class="w3-container w3-padding-64" id="info">
    <img src="https://cdn1.vectorstock.com/i/1000x1000/43/65/food-delivery-vector-4904365.jpg"/>
    <p>
        Храната трябва да носи удоволствие и наслада за всички сетива.<br />
        Ние сме тук за Вас и вашите предпочитания. Предлагаме Ви всякакви вкусотии и в диетичен вариант.<br />
        Перфектният прилив на енергия за всеки момент или повод. Поръчайте за вземане или доставка.<br />
        Поглезете се със свежи вкусове по време на електронни конференции и онлайн събития.<br />
        Сега повече от всякога компаниите се нуждаят от гъвкави бонуси за служителите, 
        особено що се отнася до предлагането на храна на работното място. <br />
        СТРЕЛА помага на компаниите да поръчват храна и да получават вкусни ястия, доставени на екипите им, <br />
        независимо дали работят от вкъщи или в офиса. Корпоративната доставка на храна никога не е била толкова лесна.
    </p>
</div>

