@{ ViewData["Title"] = "Home Page"; }


<head>
    <style>
        body {
            background-image: url("https://s3.takeaway-partnerblog.k.elnino-production.com/sites/21/20210813154333/SA0448-International_Burger_Day-Takeawaycom-BE-BG-RO-PT-.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        h1 {
            font-family: JETSans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif;        
            font-size: 50px;
            background-color:burlywood;
            letter-spacing: 6px;
            text-align: center;
            opacity: 0.8;
            margin:40px;
            color:saddlebrown;
        }
        h2 {
            font-family: JETSans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif;
            font-size: 50px;
            background-color: darkkhaki;
            letter-spacing: 6px;
            text-align: center;
            opacity: 0.8;
            margin: -30px;
            color: saddlebrown;
        }
        

    </style>
</head>

<body>
    <h1>Гладен ли си ?</h1>
    <h2>Време е да поръчаш нещо вкусно</h2>
</body>
